:root {
  --primary-color: #0a4d68;
  --secondary-color:#077385 ;
  --accent1-color: #005f73;
  --accent2-color: #ffffff;
 --heading-font: "Times New Roman","Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
  background-color: var(--accent2-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
.adventures {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.adventures figure {
  text-align: center;
  width: 150px;
}
.adventures img {
    width: 100%;
    border-radius: 6px;
  }

nav, p, section, article {
  margin: 16px;
  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.history img {
    width: 100%;
    border-radius: 6px;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 16px;display: grid;               
    grid-template-columns: 150px 1fr; 
    align-items: center;
}

.socialmedia a {
  text-decoration: none;
   display: flex;
   gap: 1rem;
   margin-left: auto;
}
.socialmedia img {
    width: 32px;
}

.hero {
  position: relative; 
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  opacity: 1;
  color: #fff;
  font-size: 2rem;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--primary-color);
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
  
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
